*{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
}
body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-size: cover; /* Make the background image cover the entire element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
}

.container {
    width: 400px;
    margin: 20px auto;
    background-color: #14143c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Styles within the .register_login class */

.register_login * {
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
}

.register_login form {
    background-color: rgba(255, 255, 255, 0.09); /* Set background color with transparency */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    /* Center vertically */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Center horizontally */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Set max-width to prevent the form from taking up the whole page */
}

.register_login form label {
    display: block;
    margin-bottom: 15px;
}

.register_login form input[type="text"],
.register_login form input[type="password"] {
    width: calc(100% - 50px); /* Adjust width as needed */
    padding: 10px;
    margin: 0 auto 15px; /* Center horizontally */
    display: block;
    border: 1.5px solid white; /* Set border color */
    border-radius: 10px; /* Set border radius */
    background-color: transparent; /* Set background to transparent */
}

.register_login form button {
    width: calc(100% - 20px); /* Adjust width as needed */
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #0011ff; /* Set your desired button color */
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center horizontally */
}

.error {
    color: red;
    margin-top: 10px;
}

h1 {
    font-family: "Space Mono", sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    position: absolute; /* Position the header */
    top: 20%; /* Adjust top position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 2; /* Ensure the header is on top */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* Adjust font size for smaller devices */
        top: 40px; /* Adjust top position for smaller devices */
    }
}

h2 {
    text-align: center;
    margin-left: 20px;
}

.logo {
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.tm {
    font-size: 0.4em; /* Ändere die Größe nach Bedarf */
    vertical-align: top; /* Ausrichtung des Handelszeichen-Symbols anpassen */
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-top: 30px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: font-size 0.2s;
}

.navbar ul li a:hover {
    text-decoration: none;
    font-size: 20px;
}

.navbar ul li a.active {
    border-bottom: 2px solid #fff;
}

.search-form {
    margin-bottom: 20px; /* Abstand unter der Suchleiste */
    margin-left: 25px; /* Abstand von links */
}

.search-form input[type="text"] {
    width: calc(100% - 100px); /* Breite der Suchleiste */
    padding: 10px;
    margin-right: 10px; /* Abstand zwischen Suchleiste und Button */
}

.search-form button {
    background-color: white;
    color: grey;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.filter-options {
    margin: 0 10px;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    background-color: #14143c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    position: absolute;
    top: 140px; /* Ändern Sie die Position von bottom auf top */
    left: 50%; /* Ändern Sie die Position von right auf left */
    transform: translateX(-50%); /* Horizontal zentrieren */
    cursor: pointer;
    margin-bottom: 20px;
}


/* Start of Profile css */
.profile-container {
    display: flex;
    min-height: 100vh; 
}

.profile-sidebar {
    width: 250px; 
    background-color: #252547; 
    padding: 20px;
    box-sizing: border-box;
}

.profile-sidebar .profile-user-card {
    text-align: center;
    margin-bottom: 30px;
}

.profile-sidebar .profile-user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.profile-sidebar .profile-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-sidebar .profile-navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.profile-sidebar .profile-navigation ul li a:hover,
.profile-sidebar .profile-navigation ul li a.active {
    background-color: #3d3d5c; 
}

.profile-main {
    flex-grow: 1; 
    color: #fff;
    background-color: #1d1d3e; 
    padding: 20px;
    box-sizing: border-box;
}

.profile-main h1 {
    margin-left: 0;  
    padding-right: 950px; 
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; 
}

.account-profile-picture {
    margin-bottom: 20px; 
    padding-left: 0; 
    font-size: 24px; 
}

.account-profile-picture .profile-picture {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; /* Circular image */
}

.change-photo-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #252525; 
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.change-photo-button:hover {
    background-color: #3d3d5c;
}

.account-form h1 {
    margin-top: 0; 
    margin-bottom: 20px; 
}

.account-form {
    display: flex;
    flex-direction: column; /* Stack the form items vertically */
    padding: 0 20px;
}

.form-group {
    margin-bottom: 10px; 
}

.account-form label {
    display: block;
    margin-bottom: 5px;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"],
.settings-form input[type="email"],
.settings-form input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #252525;
    color: white;
    border: 1px solid #333;
    border-radius: 4px;
}

.save-changes-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-changes-button:hover {
    background-color: #0056b3; 
}

/* Profile - Icons */
.icon {
    margin-right: 8px;
}

.icon-user:before {
    content: '\f007'; /* FontAwesome User icon unicode */
}

.icon-cog:before {
    content: '\f013'; /* FontAwesome Cog icon unicode */
}

.icon-sign-out:before {
    content: '\f08b'; /* FontAwesome Sign-out icon unicode */
}

/* Active state styles */
.profile-navigation a.active {
    font-weight: bold;
    /* Other styles for the active state */
}

.active-section {
    display: block; /* Shows the active section */
}

/* Initially hide all sections, then show the active one */
.profile-main section {
    display: none;
}

.settings-form {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
  }
  
  .settings-form h2 {
    margin-top: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin: 10px 0;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #252525;
    border: 1px solid #333;
    color: white;
  }
  
  .btn-confirm,
  .btn-delete-account {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start; 
  }
  
  .btn-confirm:hover,
  .btn-delete-account:hover {
    background-color: #0056b3;
  }
  
  .btn-delete-account {
    background-color: #ff0000; 
  }
  
  .btn-delete-account:hover {
    background-color: #cc0000; 
  }

  .profile-content {
    display: none; /* Hides all sections by default */
  }
  
  .profile-content.active {
    display: block; /* Active section */
  }

  /* End of Profile css*/

  .currently-watching {
    color: white;
    text-align: left;
    margin-top: 150px;
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.want-to-watch {
    color: white;
    text-align: left;
    margin-top: 100px;
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.already-watched {
    color: white;
    text-align: left;
    margin-top: 100px;
    padding: 20px;
    font-size: 20px;
    position: relative;
}

.add-series-button {
    width: 150px;
    height: 200px;
    background-color: #14143c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.add-playlist-button {
    color: white;
    align-items: center;
    text-decoration: none;
}

/* CSS für das Popup-Fenster */
.popup {
    display: none; /* Standardmäßig versteckt */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe mit Transparenz */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Z-Index, um über anderen Inhalten zu liegen */
}

.popup-content {
    background-color: #14143c; /* Hintergrundfarbe des Containers */
    color: white; /* Textfarbe */
    padding: 20px; /* Abstand um den Inhalt */
    border-radius: 8px; /* Abgerundete Ecken */
    width: 300px; /* Breite des Popup-Inhalts */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten */
}

.close-btn {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand */
    right: 10px; /* Abstand vom rechten Rand */
    cursor: pointer;
    color: white; /* Textfarbe des Schließensymbols */
    font-size: 20px; /* Schriftgröße des Schließensymbols */
    text-decoration: none; /* Keine Unterstreichung */
}

.close-btn:hover {
    color: #aaa; /* Farbe des Schließensymbols beim Überfahren */
}

/* Zusätzliche Stilregeln für den Playlist-Formularknopf */
#playlistForm button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#playlistForm button:hover {
    background-color: #0056b3; /* Farbe beim Überfahren */
}

#playlistForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}